<div class="modal fade" id="remove-item-inventory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'modal.title.inventory.remove-item'|trans }}</h5>
            </div>
            <div class="modal-body">
                <form class="modal-form-inventory-remove-item">
                    <div class="form-group">
                        <label for="select-inventory-remove-item">{{ 'modal.body.inventory.remove-item'|trans }}</label>
                        <select class="form-control form-control-lg" id="select-inventory-remove-item"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.close'|trans }}</button>
                <button type="button" class="btn btn-danger">{{ 'modal.sav'|trans }}</button>
            </div>
        </div>
    </div>
</div>