<div class="modal fade" id="player-book" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'modal.title.player.book'|trans }}</h5>
      </div>
      <div id="prototype-row-book" class="item-craft-row-book row hide">
        <div class="item-craft-number col-md-1">N°x : </div>
        <div class="item-craft-one col-md-3"></div>
        <div class="item-craft-operation col-md-1 text-center">+ or x</div>
        <div class="item-craft-two col-md-3"></div>
        <div class="col-md-1 text-center"> => </div>
        <div class="item-craft-result col-md-3"></div>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.close'|trans }}</button>
      </div>
    </div>
  </div>
</div>