<div class="row text-center">
    <div class="col-md-3">
        {% include('block/block-select-item.html.twig') %}
    </div>
    <div class="col-md-1">
        +
    </div>
    <div class="col-md-3">
        {% include('block/block-select-item.html.twig') %}
    </div>
    <div class="col-md-1">
        =>
    </div>
    <div class="col-md-4">
        {% include('block/block-result-crafting-item.html.twig') %}
    </div>
</div>