<div id="result-crafting" class="row hide">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <span class="back-result-crafting-item glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </div>
            <div class="col-md-6">
                <button id="crafting-item" type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'block.result-crafting.craft-item'|trans }}
                </button>
            </div>
            <div class="col-md-3 float-right">
                <span class="next-result-crafting-item glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div id="selected-result-crafting-item" class="col-md-12 margin-height" data-id-item="" data-id-craft-item="" data-new-crafting-item=false  data-resource-craft-item="">
        <div id="hidden-crafting-item" class="hide">{{ '????????'|trans }}</div>
        <div id="show-crafting-item" class="hide">
            {% include 'block/block-inventory-item.html.twig' %}
        </div>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-success add-craft-item hide" data-toggle="modal" data-target="#add-item-inventory">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'block.result-crafting.add-craft-item'|trans }}
        </button>
    </div>
</div>