<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                last
            </div>
            <div class="col-md-6">
                creat new objet (modal)
            </div>
            <div class="col-md-3">
                next
            </div>
        </div>
    </div>
    <div class="col-md-12">
        object img
    </div>
    <div class="col-md-12">
        name
    </div>
</div>