<div class="inventory-player-item">
    <div class="inventory-player-item-id">id</div>
    <div class="inventory-player-item-name">name</div>
    <img class="inventory-player-item-image" src="">
    <div class="inventory-player-item-description glyphicon glyphicon-zoom-in text-info" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="description + type + categorie" aria-hidden="true"></div>
    <span class="inventory-player-item-remove glyphicon glyphicon-remove text-danger" aria-hidden="true" data-id-item=""></span>
</div>