<div class="row text-center block-crafting-item">
    <div class="col-md-3">
        {% include 'block/block-select-item.html.twig' with {'source': 'source-one'} %}
    </div>
    <div class="col-md-1">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </div>
    <div class="col-md-3">
        {% include 'block/block-select-item.html.twig' with {'source': 'source-two'} %}
    </div>
    <div class="col-md-1">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </div>
    <div class="col-md-4">
        {% include 'block/block-result-crafting-item.html.twig' %}
    </div>
</div>